@import "./styles/reset.css";
@import "./styles/font-family.css";
*, *::before, *::after {
    box-sizing: border-box;
}

.button {
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
  }